body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: white;
  background: #17191c;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0px;
}

* {
  box-sizing: border-box;
}

.wrapper-main {
  background: url(./img/bg/bg-main-top.png) center top no-repeat, url(./img/bg/bg-main-bottom.png) center bottom 150px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 110px;
}

.logo {
  display: block;
  position: absolute;
  top: 57px;
  left: 0;
}

.menu {
  position: absolute;
  top: 60px;
  left: 420px;
}

.footer__menu {
  position: absolute;
  top: 60px;
  left: 288px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 65px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__item--active .menu__link {
  color: #8f00ff;
}

.menu__link {
  font-size: 16px;
}

.menu__link:hover {
  color: #8f00ff;
}

.contacts {
  text-align: right;
  position: absolute;
  top: 50px;
  right: 0px;
}

.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
}

.contacts__phone {
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #98a4a8;
}

.hero__section {
  margin-bottom: 209px;
}

.hero__text-section {
  width: 650px;
}

.hero__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 18px;
}

.hero__subtitle {
  font-size: 21px;
  margin-bottom: 90px;
}

.btn {
  width: 170px;
  height: 55px;
  padding: 20px 40px;
  background: #8f00ff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.btn:hover {
  background: #741bba;
}

.btn__transparent--theme {
  background-color: transparent;
  border: 1px solid #fff;
}

.btn__transparent--theme:hover {
  background-color: transparent;
}

.btn__white--theme {
  background: white;
  border: 1px solid #8f00ff;
  color: #8f00ff;
}

.btn__white--theme:hover {
  color: white;
}

.btn__size--small {
  width: 135px;
  height: 55px;
}

.offers__section {
  margin-bottom: 117px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.offers__item {
  min-height: 450px;
  width: 362px;
  background: white;
  border-radius: 5px;
  display: inline-block;
  margin-right: 18px;
}

.offers__item:last-child {
  margin-right: 0px;
}

.offers__header {
  min-height: 145px;
}

.offers__content {
  padding: 26px 18px;
  color: #17191c;
}

.offers__title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 23px;
}

.offers__prices {
  margin-bottom: 18px;
}

.offer__price {
  display: inline-block;
  vertical-align: top;
}

.offers__prices-cell {
  display: inline-block;
  margin-right: 17px;
  width: 144px;
  color: #666;
}

.offers__prices-cell:last-child {
  margin-right: 0px;
}

.offer__price-img {
  display: inline-block;
  margin-right: 5px;
}

.offer__price-img:last-child {
  margin-right: 0px;
}

.offers__desc {
  margin-bottom: 43px;
  font-size: 14px;
  font-weight: normal;
}

.offers__btn-wrapper {
  text-align: left;
}

.news__item {
  width: 557px;
  height: 400px;
  display: inline-block;
  margin-right: 25px;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
}

.news__item:last-child {
  margin-right: 0px;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 24px;
  min-height: 163px;
}

.news__date {
  font-size: 14px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 13px;
}

.pager {
  text-align: center;
  margin-bottom: 143px;
}

.pager__display {
  display: inline-block;
  margin-right: 15px;  

}

.pager__item {
  display: inline-block;
  vertical-align: middle;
}

.pager__item:last-child {
  margin-right: 0px;
}

.pager__list {
  display: inline-block;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 32px;
}

.pager__item--active .pager__link {
  background: #8f00ff;
}

.about::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  border-radius: 5px;
  background: url(./img/about__section-pic-1.png) center center / cover no-repeat;
}

.about__decs {
  background: linear-gradient(#8F00FF,#148CFF);
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  width: 785px;
  height: 455px;
  padding: 70px 80px;
  margin-top: 99px;
  margin-left: -142px;
  margin-bottom: 50px;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 36px;
}

.about__desc-text {
  font-size: 16px;
  margin-bottom: 106px;
  max-width: 503px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0px;
}

.hero__footer-container {
  border-top: 1px solid #fff;
}

.footer {
  height: 152px;
  position: relative;
}

.socials {
  top: 53px;
  right: 269px;
  position: absolute;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.social__item--icon-tg .socials__link {
  background-image: url(./img/icon-tg.png);
}

.social__item--icon-vk .socials__link {
  background-image: url(./img/icon-vk.png);
}

.social__item--icon-fb .socials__link {
  background-image: url(./img/icon-fb.png);
}

.social__item--icon-ig .socials__link {
  background-image: url(./img/icon-ig.png);
}

.social__item:hover {
  filter: brightness(200%)
}
