body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: white;
  background: #17191C;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 110px;
}

.logo {
  display: block;
  position: absolute;
  top: 57px;
  left: 0;
}

.menu {
  position: absolute;
  top: 60px;
  left: 420px;
}

.menu__item { 
  display: inline-block;
  vertical-align: middle;
  margin-right: 65px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  font-size: 16px;
}

.menu__link:hover {
  color:#8F00FF;
}

.contacts {
  text-align: right;
  position: absolute;
  top: 50px;
  right: 0px;
}

.contacts__phone {
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color:#98A4A8;
}

.hero__text-section {
  width: 650px;
}

.hero__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 18px;
}

.hero__subtitle {
  font-size: 21px;
  margin-bottom: 90px;
}

.btn {
width: 170px;
height: 55px;
padding: 20px 40px;
background: #8F00FF;
border-radius: 5px;
font-size: 14px;
font-weight: bold;
color: white;
text-transform: uppercase;
}

.btn:hover {
  background: #741BBA;
}